@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-blue: #0056D2;
  --color-brand-orange: #F97316;
  --color-brand-white: #FFFFFF;
}

:root {
  --background: transparent;
  --foreground: #171717;
}

.dark {
  --background: transparent;
  /* global background handled by Background.tsx */
  --foreground: #f8fafc;
  /* slate-50 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply transition-colors duration-300;
}